.cont{
max-width: 400px;
min-height: 450px;
margin: 0 auto;
background-color:lightblue;
box-shadow: 0 0 10px grey ;
margin-top: 60px;
padding: 15px 50px;
}
.exp-cont{
display: flex;
justify-content: space-around;
background-color: whitesmoke;
box-shadow: 0 0 10px grey ;
}
.text-center{
  text-align: center;
  font-family: sans-serif;
}
.trans-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  box-shadow:0 0 10px grey ;
  border: lightcyan;
}
.trans-list{
  margin: 0;
  padding: 0;
}
.trans-list >li{
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
  box-shadow:0 0 10px grey ;
  padding:10px 5px;
  margin: 5px 0;
}
.sub-but{
  font-family: sans-serif;
  background-color: rosybrown;
  font-weight: bolder;
}